# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js Build Output
.next/
out/

# Production Environment Variables
.env*.local
.env.production

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db